* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ADD CLASSES REMOVE QUERIES */
/* ----------------------BASIC ARTICLE FORMATING----------- */


/* ------------BUTTONS------------- */
.button {
  border-radius: 5px;
  padding: .5rem;
  color: #fff;
  background-color: transparent;
  border: 1px outset;
  box-shadow: 2px 2px ff6a00;
  transition: 1s linear;
  text-align: center;
  font-weight: bold;

}

.button:hover,
.button:active,
.button:focus {
  background-color: #5ebdf0;
  border-color: #55AAD9;
}


/*------------- Call to action -------------*/
.cta_link {
  text-decoration: none;
  margin: .5rem;
  color: #5ebdf0;
  font-size: larger;
  transition: 1s linear;
}

.cta_link:hover,
.cta_link:active,
.cta_link:focus {

  color: #fff;
  text-decoration: underline;
}


/*------------- Skills section -------------*/

.skills {
  display: flex;
  justify-content: center;
}

.skills_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-image: linear-gradient(to right, #55AAD9, #302064) 30;
  border-width: 2px;
  border-style: outset;
  border-left: none;
  border-right: none;
  border-top: none;
  list-style-type: none;
  font-weight: 200;


}

.skills_body li {
  cursor: pointer;
}


.skills_body li::after {
  content: "|";
  margin: 0 .5rem;
}

.skills_body :last-child:after {
  content: none;
}


.skills_body li:hover {
  font-weight: 400;
}

/*------------- TOOLTIPS -------------*/

.tooltip_trigger {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
}

.tooltip_trigger .tooltiptext {
  visibility: hidden;
  width: 6rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .5rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext.expert {
  background-color: rgb(3, 112, 3);
}

.tooltiptext.proficient {
  background-color: #55AAD9;
}

.tooltip_trigger .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(55, 54, 54) transparent transparent transparent;
}



.tooltip_trigger:hover .tooltiptext {
  visibility: visible;
}


/* -------------HOME--------- */


body {
  scroll-behavior: smooth;
  /* min-height: 100vh; */
  font-family: "Montserrat", sans-serif;
  /* background: radial-gradient(circle,
      #161616,
      black 80%) no-repeat;
 */
}

/* 
body {
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(circle,
      #161616,
      black 80%) no-repeat;
  border: 1px solid green;
  background-color: #0d0d0d;
} */

#home {
  background: radial-gradient(circle,
      #262626 10%,
      black);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: #f1faee;
  opacity: 0;
  transition: opacity 2s ease;
}


#home.show {
  opacity: 1;
}

.splash_text_layout {

  display: flex;
  flex-direction: column;
  justify-self: center;
  flex-wrap: wrap;
  border-image: linear-gradient(to bottom, #55AAD9, #302064) 30;
  border-width: 2px;
  border-style: outset;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.splash_text {
  font-weight: 200;
}


/* -------------NAVBAR--------- */


.navbar_items {

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_items a {
  margin: 0 1rem;
}



/* -------------CONTACT--------- */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #1a237e, #3949ab);
  /* background-color: #0e0d0d;  */
  color: #fff;

}

.messageContainer {
  margin: 0 1rem;
  max-width: 800px;
  border: 1px solid;
  border-radius: .5rem;
  box-shadow: 0 0 1px 2px gray;
  color: #000;
  background-color: #fff;
}

.messageImage {

  background-image: url('../images/envelope-4313721.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


/* -------------FORMS--------- */
form {
  background-color: #ff6a00;
  padding: 2rem;
  background-color: #0e0d0d;
  color: #fff;
}

.feedback {
  color: #fff;
  background-color: #ff4444;
  font-size: medium;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 5px;
  box-shadow: 0px 0px 4px 2px #ff4444;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #000;
}

label:hover {
  cursor: pointer;
}

textarea {
  height: 50%;
  resize: none;
}

.valid {
  border: 2px solid green;
}

.valid:active,
.valid:focus {
  border-color: green;
  box-shadow: 0 0 2px 3px green;
  outline: none;
}

.invalid {
  border: 2px solid red;
}

.invalid:active,
.invalid:focus {
  outline: none;
  border-color: red;
  box-shadow: 0 0 2px 3px red;
}

/* ----------------UTILS ---------- */
.visible {
  display: block;
}

.invisible {
  display: none;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -----------FOOTER --------------- */
#footer {
  font-weight: bolder;
}

#footer .flexItems a {
  color: #55AAD9;
  opacity: 80%;
  transition: transform 0.3s ease;
}

#footer .flexItems a:hover {
  transform: translateY(-10px);
  opacity: 100%;
}



/* -------------ICONS--------- */

.icon_parent {
  text-decoration: none;
}

.icon {
  display: block;
  transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  color: #fff;
}

.icon:hover {
  color: #55AAD9;
}

/* -------------LOADING SPINNER--------- */
#spinner {
  border: 16px solid #fff;
  border-top: 16px solid #ff6a00;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s ease-out infinite forwards;
}

.loading_group {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#spinner_message {
  margin: 1rem 0;
  color: #fff;
}

/* -------------ANIMATIONS--------- */
.fade_in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade_in.visible {
  opacity: 1;
}

.slide_in {
  opacity: 0;
  transform: translateX(-50%);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.slide_in.left {
  animation-name: slideFromLeft;
}

.slide_in.right {
  animation-name: slideFromRight;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: #ff6a00;
  }

  50% {
    border-top-color: #ff0000;
  }

  100% {
    border-top-color: #ff6a00;
    transform: rotate(360deg);
  }
}

/* 
body of splash content

*/

.splash_text_layout {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 80%;
  padding: 0 2rem;
}

.home_splash_body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.splash_title {
  font-size: 2.5rem;
  font-weight: bold;
}

.splash_title>span {
  font-size: smaller;
}

.low_emphasis {
  font-size: smaller;
  font-weight: lighter;
}

.splash_text {
  font-size: larger;
}

.splash_text_number {
  font-size: larger;

}


/* mobile views */

@media screen and (max-width: 700px) {

  .splash_text_layout {
    padding: 0 1rem;
    max-width: 65%;
  }

  .home_splash_body {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .splash_title {
    font-size: x-large;
    font-weight: bold;
  }

  .splash_title>span {
    font-size: large;
  }

  .low_emphasis {
    font-size: large;
    font-weight: lighter;
  }

  .splash_text {
    font-size: larger;
  }

  .splash_text_number {
    font-size: larger;

  }
}

@media screen and (max-width: 550px) {
  .splash_text_layout {
    max-width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .splash_text_layout {
    max-width: 85%;
  }

  .splash_title {
    font-size: larger;
    font-weight: bold;
  }

  .splash_title>span {
    font-size: large;
  }

  .splash_text>span {
    display: inline-block;
  }

  .low_emphasis {
    font-weight: lighter;
  }

  .splash_text {
    font-size: large;
  }

}