body {

  scroll-behavior: smooth;
  /* background: linear-gradient();   */
}

/* ADD CLASSES REMOVE QUERIES */
/* ----------------------BASIC ARTICLE FORMATING----------- */
#home {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}


/* ------------BUTTONS------------- */
.button {
  border-radius: 5px;
  padding: 3px 1rem;
  color: #fff;
  background-color: #171717;
  border: 1px #000000;
  box-shadow: 1px 2px #000;
  transition: 1s linear;

}

.button_arrow {
  font-size: x-large;
}

.button:hover,
.button:active,
.button:focus {
  opacity: 65%;
}

/*------------- NAV -------------*/
.nav_container {
  display: flex;
  justify-content: space-between;
}

/*------------- Call to action -------------*/
.cta_link {
  text-decoration: none;
  margin: .5rem;
  color: #f1faee;
  transition: 1s linear;
}

.cta_link:hover {
  opacity: 65%;
  color: #f1faee;
}

.splash_call_to_action {
  display: flex;
  justify-content: center;
}

/*------------- Skills section -------------*/

.skills {
  display: flex;
  justify-content: center;
}

.skills_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-image: linear-gradient(to right, #55AAD9, #302064) 30;
  border-width: 2px;
  border-style: outset;
  border-left: none;
  border-right: none;
  border-top: none;
  list-style-type: none;
  font-weight: 200;


}

.skills_body li {
  cursor: pointer;
}


.skills_body li::after {
  content: "|";
  margin: 0 .5rem;
}

.skills_body :last-child:after {
  content: none;
}


.skills_body li:hover {
  font-weight: 400;
}

/*------------- TOOLTIPS -------------*/

.tooltip_trigger {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
}

.tooltip_trigger .tooltiptext {
  visibility: hidden;
  width: 6rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .5rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext.expert {
  background-color: rgb(3, 112, 3);
}

.tooltiptext.proficient {
  background-color: #55AAD9;
}

.tooltip_trigger .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip_trigger:hover .tooltiptext {
  visibility: visible;
}


/* -------------HOME--------- */
#home {
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: #f1faee;
  opacity: 0;
  transition: opacity 2s ease;
}




.home_splash_body {

  background-image: linear-gradient(to bottom  , rgb(39, 39, 39),
      rgb(20, 19, 19));
  box-shadow: 2px 2px 2px 2px  rgb(60, 59, 59);
  padding: 1rem;
  border: 3px solid black;
  height: 100%, 100%;
  background-color: rgb(39, 39, 39);
  max-width: 50%;
  width: 50%;
  border-radius: 1rem;
}


#home.show {
  opacity: 1;
}

.splash_text_layout {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-image: linear-gradient(to bottom, #55AAD9, #302064) 30;
  border-width: 2px;
  border-style: outset;
  border-bottom: none;
  border-right: none;
  border-top: none;
  padding-left: 1rem;
}

.splash_text {
  font-weight: 200;
}


/* -------------NAVBAR--------- */
.navbarOffset {
  display: block;
  width: 100%;
  height: 61px;
}

.flexItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexItems a {
  margin: 0 1rem;
}



/* -------------CONTACT--------- */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #1a237e, #3949ab);
  /* background-color: #0e0d0d;  */
  color: #fff;

}

.messageContainer {
  margin: 0 1rem;
  max-width: 800px;
  border: 1px solid;
  border-radius: .5rem;
  box-shadow: 0 0 1px 2px gray;
  color: #000;
  background-color: #fff;
}

.messageImage {

  background-image: url('../images/envelope-4313721.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


/* -------------FORMS--------- */
form {
  background-color: #ff6a00;
  padding: 2rem;
  background-color: #0e0d0d;
  color: #fff;
}

.feedback {
  color: #fff;
  background-color: #ff4444;
  font-size: medium;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 5px;
  box-shadow: 0px 0px 4px 2px #ff4444;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #000;
}

label:hover {
  cursor: pointer;
}

textarea {
  height: 50%;
  resize: none;
}

.valid {
  border: 2px solid green;
}

.valid:active,
.valid:focus {
  border-color: green;
  box-shadow: 0 0 2px 3px green;
  outline: none;
}

.invalid {
  border: 2px solid red;
}

.invalid:active,
.invalid:focus {
  outline: none;
  border-color: red;
  box-shadow: 0 0 2px 3px red;
}

/* ----------------UTILS ---------- */
.visible {
  display: block;
}

.invisible {
  display: none;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -----------FOOTER --------------- */
#footer {
  font-weight: bolder;
}

#footer .flexItems a {
  color: #55AAD9;
  opacity: 80%;
  transition: transform 0.3s ease;
}

#footer .flexItems a:hover {
  transform: translateY(-10px);
  opacity: 100%;
}



/* -------------ICONS--------- */

.icon_parent {
  text-decoration: none;
}

.icon {
  display: block;
  transition: 1s ease-in-out .1s;
  transition: 1s ease-in-out .1s;
  color: #fff;
}

.icon:hover {
  color: #55AAD9;
  font-size: larger;
}

/* -------------LOADING SPINNER--------- */
#spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  /* Half of the spinner height */
  margin-left: -60px;
  /* Half of the spinner width */
}


/* -------------ANIMATIONS--------- */
.fade_in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade_in.visible {
  opacity: 1;
}

.slide_in {
  opacity: 0;
  transform: translateX(-50%);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.slide_in.left {
  animation-name: slideFromLeft;
}

.slide_in.right {
  animation-name: slideFromRight;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* mobile views */

@media screen and (max-width: 800px) {

  .home_splash_body {
    max-width: 100%;
    width: 100%;
  }

  .splash_text_layout {
    margin: 0;
  }

}